*{
    margin:0px;
    padding:0px;
}

section{

    background-image: url(img/grasspic.jpg);
    background-repeat: no-repeat;
   
    background-size: cover;
    text-align: center;
    padding:8rem 6rem;
    

}

h1{
    color:#fff;
    font-size: 5rem;
    
    
}

h4{
    margin-bottom: 0.8rem;
}
.wrapper{
    background-color: black;
    color:#fff;
    padding:0.5rem 2rem 2.5rem 2rem;
    box-shadow: 0px -50px 25px 20px #000;
}

.block{
    padding:0.8rem 1rem;
    border-left:1px solid #fff;
    position: relative;
}

.block::before{
    content:'';
    position: absolute;
    top:0.9rem;
    left:-5px;
    width: 10px;
    height:10px;
    border:1px solid #fff;
    background: #000;
    border-radius: 100%;
}


.block-1{
    border-left:1px solid #fff;
    padding:0rem 0.5rem 0.8rem 1rem;
}

.block-2{
    padding:0rem 0.5rem 0.8rem 1rem;

}

.sm-block{
    position:relative;
}

.sm-block::before{
    content:'';
    position: absolute;
    top:1px;
    left:-5px;
    width: 10px;
    height:10px;
    border:1px solid #fff;
    background: #000;
    border-radius: 100%;

}